# Open WebUI
OPENWEBUI_BASE_URL=
OPENWEBUI_API_KEY=

# Open Terminal
OT_API_KEY=
OT_HOST=
OT_PORT=

# Bot options
MAX_HISTORY_MESSAGES=100

# Психолог
PSYCHOLOGIST_TOKEN=
PSYCHOLOGIST_USERNAME=
PSYCHOLOGIST_MODEL_ID=
PSYCHOLOGIST_RESPOND_ALL=false
PSYCHOLOGIST_ALLOWED_USERS=

# Сексолог
SEXOLOGIST_TOKEN=
SEXOLOGIST_USERNAME=
SEXOLOGIST_MODEL_ID=
SEXOLOGIST_RESPOND_ALL=false
SEXOLOGIST_ALLOWED_USERS=